@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato:400,700|M+PLUS+Rounded+1c:400,700');

$font : 'Lato', sans-serif;
$fontHand : 'Great Vibes', cursive;
$fontRound : 'M PLUS Rounded 1c', sans-serif;
$colorFont : #000 ;
$grisClair : #ECE9E7;
$or : #B08E23;